<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1b113985-a702-4a92-b326-b779c3bc32c1/resourceGroups/new-az204/providers/Microsoft.Web/sites/mywebsample1723</ResourceId>
    <ResourceGroup>new-az204</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mywebsample1723.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>fbbbafb7-d937-43f8-96f5-827fe8f44210</ProjectGuid>
    <PublishUrl>https://mywebsample1723.scm.azurewebsites.net/</PublishUrl>
    <UserName>$mywebsample1723</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>