<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funapp1231.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1b113985-a702-4a92-b326-b779c3bc32c1/resourceGroups/PracticeRG/providers/Microsoft.Web/sites/funapp1231</ResourceId>
    <UserName>$funapp1231</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funapp1231.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>